<!DOCTYPE html>
<html>
  <head>
    <title>Rails SPA APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href=/css/app.css rel=stylesheet>
    <link href=/css/chunk-vendors.css rel=stylesheet>
  </head>

  <body>
    <%= yield %>
  </body>
  <script src="/js/chunk-vendors.js"></script>
  <script src="/js/app.js"></script> 
</html>
